<legend>Campaign information (* — required information):</legend>

<fieldset class="campaign_info">
	<% form_for @campaign do |f| %>

		<%= render 'error_messages' %>

		<%= f.label :name, "*Campaign name" %></br>
		<%= f.text_field :name %></br>

		<%= f.label :description %></br>
		<%= f.text_area :description, :rows => 4, :cols => 43 %></br>

		<%= f.label :active %>
		<%= f.check_box :active %></br>

		<%= f.label :ctype, "Type" %>
		<%= f.select :ctype, Campaign::CAMPAIGN_TYPES, :prompt => "Please, select campaign type" %>

		<%= f.label :status %>
		<%= f.select :status, Campaign::CAMPAIGN_STATUSES, 
								 :prompt => "Please, select campaign status" %></br>
</fieldset>
	
	<%= render 'planning_fields' %>
	
	<table class="inline_buttons">
		<tr>
			<td><%= f.submit "#{context_button}" %></td>
	<% end %>
