<legend>Campaign statistics:</legend>

<p><b>Created by:</b> <%= @owner.name if @owner %></p>
<p><b>Created at:</b> <%= @campaign.created_at.to_date %></p>

<table class="inline_buttons">
	<tr>
		<td><%= button_to "Clone", clone_campaign_path, :method => :get %></td>
		<td><%= button_to "Add participant", new_campaign_person_path(@campaign.id), :method => :get %></td>
		<td><%= button_to "Manage participants", campaign_people_path(@campaign.id), :method => :get %></td>
	</tr>
</table>
