<h1>Campaign details</h1>

<%= button_to "Clone", clone_campaign_path, :method => :get %>

<legend>Information:</legend>
	<p><b>Campaign name:</b> <%= @campaign.name %></p>
	<p><b>Campaign description:</b> <%= @campaign.description %></p>
	<p><b>Active:</b> <%= active_check %></p>
	<p><b>Type:</b> <%= @campaign.ctype %></p>
