<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(@title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
	<header>
		<%= link_to "Campaigner", root_path, :class => "app_header" %>
	</header>
	<content>
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>
		
		<%= yield %>
	</content>
	<footer>
	Test application for <%= link_to "Full Spectrum Systems", "http://fss.by" %>. Working on Ruby on Rails 2.3.5.
	</footer>
</body>
</html>

